<h1>Dictionaries#show</h1>
<p><b>Data Dictionary</b></p>
<p><b>Columns :</b><%= @dictionary.columns %></p>
<p><b>Definitions :</b><%= @dictionary.definitions %></p>
<p><%= link_to "Go to Data", record_path(@record.id) %></p>

